// Imports
@import 'variables';

// about page
.feature-area {
    align-items: center;
    background-color: var(--color-solid-top);
    border: 3px solid var(--color-base);
    box-shadow: 3px 3px 0px 0px $color-medium, 6px 6px 0px 0px $color-bright, 9px 9px 0px 0px $color-base, 3px 3px 6px 3px rgba(0,0,0,0);
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 64rem;
    overflow: hidden;

    @include touch {
        margin: 1rem 1rem 1.5rem;
    }

    @include desktop {
        display: flex;
        margin-top: 1rem;
    }

    .feature-photo {
        line-height: 0;

        @include desktop {
            margin-right: 1rem;
            max-width: 43rem;


            img {
                clip-path: polygon(0% 0%,100% 0%,100% 100%,0% 100%);
                transition: clip-path 1s;
            }

            &:hover {

                img {
                    clip-path: polygon(20% 15%,80% 15%,80% 80%,20% 80%);
                }

            }

        }

    }

    .feature-copy {

        @include desktop {
            width: 20rem;
        }

        p {

            &.intro {

                @include touch {
                    padding: 1rem 0.75rem;
                    font-size: 1.1rem;
                    margin-bottom: 0;
                }

                @include desktop {
                    margin-bottom: 0;
                    padding: 0 0.75rem;
                }

            }

        }

    }

}

.feature-pullout {

    h4 {
        margin: 0;
    }

    ul {
        margin: 0;
        max-width: none;

        li {
            color: var(--color-base);
            font-weight: 400;
            line-height: 2;

            @include touch {
                line-height: 1.4;
            }

        }

    }

}

// sub navigation
.sub-navigation {
    margin: 2rem auto 4rem;

    .is-disabled {
        font-weight: 600;

        &:hover {
            color: var(--color-base);
        }

    }

    .button {

        @include touch {
            margin-bottom: .5rem;
        }

    }

}
