// Imports
@import 'variables';

// Back to Top
.back-to-top {
    bottom: -3rem;
    position: fixed;
    right: 0;
    transition: bottom 0.3s ease-in-out;
    z-index: 1;

    &.show {
        bottom: 2rem;
    }

    a {
        color: var(--color-bright);
        display: block;
        padding: 1.5rem;

        &:hover {
            color: var(--color-dark);
        }

        .icon {
            display: inline-block;
            height: 1em;
            width: 1em;
        }

    }

}
