// Imports
@import 'variables';

// Contact Page
#contact-form {

    .label {
        padding-top: 1rem;
    }

    .button {
        margin-top: 1rem;
    }

}

// social media links
ul {

    &.media-list {
        padding: 0 0 1.5rem;

        li {
            background-image: none;
            display: inline-flex;
            font-size: 1rem;
            padding: 0 1.5rem 0.75rem 0;


        }

    }

}

main {

    a {

        &.social-icon {
            background-size: calc(100% - 22px) 3px;
            background-position: 100% 100%;

            &:before {
                content: "";
                display: inline-block;
                background-size: 19px 19px;
                background-position: 0;
                background-repeat: no-repeat;
                height: 19px;
                margin-right: 3px;
                width: 19px;
            }

            &:hover {
                background-size: calc(100% - 22px) 100%;
            }

        }

        &.github {

            &:before {
                background-image: url('/images/icons/github.svg');
            }

        }

        &.linkedin {

            &:before {
                background-image: url('/images/icons/linkedin.svg');
            }

        }

        &.reddit {

            &:before {
                background-image: url('/images/icons/reddit.svg');
            }

        }

        &.stackoverflow {

            &:before {
                background-image: url('/images/icons/stack-overflow.svg');
            }

        }

        &.steam {

            &:before {
                background-image: url('/images/icons/steam.svg');
            }

        }

        &.strava {

            &:before {
                background-image: url('/images/icons/strava.svg');
            }

        }

        &.twitter {

            &:before {
                background-image: url('/images/icons/twitter.svg');
            }

        }

    }

}

.form-message {
    display: inline-flex;
    font-weight: 600;
    padding: 1.5rem 0 0 1.5rem;
}
