// Imports
@import 'variables';

// Post List Page
.post-list {
    list-style-type: none;
    margin: 3.75rem auto;

    @include touch {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .field {
        margin-bottom: 1rem;
    }

    article {

        &:after {
            background: var(--color-medium-light);
            border: none;
            border-radius: 3px;
            content: ' ';
            display: block;
            height: 3px;
            margin: 1.75rem auto 1.75rem;
            width: 7rem;
        }

        &:last-of-type {

            &:after {
                display: none;
            }

        }

        h3 {
            color: var(--color-dark);
            font-size: 0.95rem;
            font-weight: 600;
            line-height: 2;
            margin: 0;
            text-transform: capitalize;
        }

        a {
            font-weight: 400;

            h2 {
                color: var(--color-base);
                background-image: linear-gradient(120deg, var(--color-bright) 0%, var(--color-bright) 100%);
                background-repeat: no-repeat;
                background-size: 100% 3px;
                background-position: 0px 100%;
                display: inline;
                font-size: 1.875rem;
                line-height: 1;
                margin: 0;
                padding: 0;
                transition: all 0.15s ease-in-out 0s;
            }

            figure {
                margin-bottom: 1rem;

                img {
                    filter: grayscale(0.5) hue-rotate(30deg);
                    border: 3px solid var(--color-base);
                    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
                    box-shadow: 20px 20px var(--color-light-top);
                    mix-blend-mode: multiply;
                    transition: all .4s ease;
                }

            }

            p {
                color: var(--color-base);
                font-size: 1rem;
                margin: .5rem 0 0;
            }

            &:hover {

                h2 {
    				color: var(--color-top);
        			background-size: 100% 100%;
    			}

                figure {

                    img {
                        box-shadow: 10px 10px var(--color-medium-light);
                        filter: none;
                        mix-blend-mode: normal;
                    }

                }

            }

        }

        .post-metadata {
            color: var(--color-base);
            font-size: 0.875rem;
            margin: 0;
        }

    }

}
