//pagination
.pagination {
	font-size: 1rem;

	li {

		&:first-of-type,
		&:last-of-type {

			@include touch {
				width: 100%;
			}

			a {

				@include touch {
					display:flex;
					margin-left: 1rem;
					margin-right: 1rem;
				}

				&.pagination-link,
				&.pagination-next {

					&:hover {
						text-decoration: none;
					}

					&.is-disabled {
						color: hsl(0, 0%, 62%);
					}

				}

			}

		}

	}

}
