// Variables
$font-family-primary: 'Work Sans',Helvetica,Roboto,Arial,sans-serif;
$font-family-secondary: 'Condiment',cursive,serif;

$font-size-base: 1.172rem;

$color-base: hsl(0, 0%, 20%);
$color-dark: hsl(0, 0%, 34%);
$color-medium: hsl(240, 7%, 40%);
$color-medium-light: hsl(0, 0%, 57%);
$color-light: hsl(312, 3%, 66%);
$color-bright: hsl(38, 40%, 61%);
$color-light-top: hsl(0, 0%, 74%);
$color-top: hsl(0, 0%, 96%);
$color-solid-top: hsl(0, 0%, 100%);
$color-back-light: hsl(198, 16%, 84%);
//$color-highlight:
