@charset "utf-8";

// Import Fonts
@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 400;
  src: url('/fonts/Work_Sans/work-sans-v13-latin-regular.woff2') format('woff2'),
       url('/fonts/Work_Sans/work-sans-v13-latin-regular.woff') format('woff'),
       url('/fonts/Work_Sans/work-sans-v13-latin-regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 600;
  src: url('/fonts/Work_Sans/work-sans-v13-latin-600.woff2') format('woff2'),
       url('/fonts/Work_Sans/work-sans-v13-latin-600.woff') format('woff'),
       url('/fonts/Work_Sans/work-sans-v13-latin-600.ttf') format('truetype');
  font-display: swap;
}

@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 900;
  src: url('/fonts/Work_Sans/work-sans-v13-latin-900.woff2') format('woff2'),
       url('/fonts/Work_Sans/work-sans-v13-latin-900.woff') format('woff'),
       url('/fonts/Work_Sans/work-sans-v13-latin-900.ttf') format('truetype');
  font-display: swap;
}

@font-face {
	font-family: "Condiment";
	font-style: normal;
	font-weight: 400;
  src: url('/fonts/Condiment/condiment-v10-latin-regular.woff2') format('woff2'),
       url('/fonts/Condiment/condiment-v10-latin-regular.woff') format('woff'),
       url('/fonts/Condiment/condiment-v10-latin-regular.ttf') format('truetype');
  font-display: fallback;
}

// Bulma Framework Imports
// Import Bulma Utilities
@import "bulma/utilities/initial-variables";
@import "bulma/utilities/functions";
@import "bulma/utilities/derived-variables";
@import "bulma/utilities/mixins";
@import "bulma/utilities/controls";
@import "bulma/utilities/extends";

// Import Bulma Base
@import "bulma/base/minireset";
@import "bulma/base/generic";
@import "bulma/base/animations";

// Import Bulma Elements
@import "bulma/elements/box";
@import "bulma/elements/button";
@import "bulma/elements/container";
@import "bulma/elements/content";
//@import "bulma/elements/icon";
@import "bulma/elements/image";
//@import "bulma/elements/notification";
//@import "bulma/elements/progress";
@import "bulma/elements/table";
@import "bulma/elements/tag";
@import "bulma/elements/title";
@import "bulma/elements/other";

// Import Bulma Form
@import "bulma/form/shared";
@import "bulma/form/input-textarea";
//@import "bulma/form/checkbox-radio";
//@import "bulma/form/select";
//@import "bulma/form/file";
@import "bulma/form/tools";

// Import Bulma Components
//@import "bulma/components/breadcrumb";
//@import "bulma/components/card";
//@import "bulma/components/dropdown";
@import "bulma/components/level";
@import "bulma/components/media";
//@import "bulma/components/menu";
//@import "bulma/components/message";
//@import "bulma/components/modal";
@import "bulma/components/navbar";
@import "bulma/components/pagination";
//@import "bulma/components/panel";
//@import "bulma/components/tabs";

// Import Bulma Grid
@import "bulma/grid/columns";
@import "bulma/grid/tiles";

// Import Bulma Helpers
@import "bulma/helpers/color";
@import "bulma/helpers/flexbox";
@import "bulma/helpers/float";
@import "bulma/helpers/other";
@import "bulma/helpers/overflow";
@import "bulma/helpers/position";
@import "bulma/helpers/spacing";
@import "bulma/helpers/typography";
@import "bulma/helpers/visibility";

// Import Bulma Layout
//@import "bulma/layout/hero";
@import "bulma/layout/section";
@import "bulma/layout/footer";

// Page Components
@import "masthead";
@import "navigation";
@import "body";
@import "footer";
@import "back-to-top";
@import "pagination";

// Site Pages
@import "home";
@import "posts";
@import "lists";
@import "about";
@import "contact";
@import "work";
