{{- if .Params.categories -}}
<h3>
  {{ with .Params.categories }}
  {{ range first 1 . }}{{ . }}{{ end }}
  {{ end }}
</h3>
{{- end -}}
{{- if .Params.hero -}}
  {{- $pathway := .File.Dir -}}
  {{- $src := "" -}}
  {{- $alt := "" -}}
  {{- range first 1 .Params.hero -}}
    {{- $src = .src -}}
    {{- $src = (path.Join "/" $pathway $src) -}}
    {{- $alt = .alt -}}
  {{- end -}}
<figure>
    <picture>
        <!--<source srcset="{{ $src }}.webp" type="image/webp">-->
        <source srcset="{{ $src }}.jpg" type="image/jpeg">
        <img src="{{ $src }}.jpg" srcset="{{ $src }}.jpg" alt="{{ $alt }}">
    </picture>
</figure>
{{- end -}}
