{{ range .Pages }}
    <li class="list-item">
        <article class="list-item-preview">
            {{ if (isset .Params "thumbnail") }}
            <a href="{{ .RelPermalink }}" class="list-link-image">
              <figure class="list-image">
                <source srcset="{{ with .Page.Params.thumbnail }}{{ . }}.webp{{ end }}" type="image/webp">
                <source srcset="{{ with .Page.Params.thumbnail }}{{ . }}.jpg{{ end }}" type="image/jpeg">
                <img src="" data-src="{{ with .Page.Params.thumbnail }}{{ . }}.jpg{{ end }}" alt="{{ with .Page.Params.thumbnail_alt }}{{ . }}{{ end }}" class="lazyload">
              </figure>
            </a>
            {{ end }}
            <a href="{{ .RelPermalink }}" class="list-link">
              <h3 class="list-preview-title">{{ .LinkTitle }}</h3>
            </a>
            {{ if .Params.meta | default .Site.Params.enablePostMeta }}
            <div class="list-meta">
                {{ partial "components/post-meta.html" (dict "Deliver" . "isHome" false) }}
            </div>
            {{ end }}
            <a href="{{ .RelPermalink }}" class="list-link">
              <summary class="list-summary">
                <span class="summary-text">
                  {{ partial "utils/summary.html" . }}
                <span>
              </summary>
            </a>
        </article>
    </li>
{{ end }}
